@import "@fontsource-variable/inter";
@import "@fontsource-variable/jetbrains-mono";

*,
:not(input),
:not(textarea) {
  user-select: none;
}

* {
  scrollbar-gutter: stable;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
